.container{
  
 width: 100%;

 display: flex;
        overflow-x: auto;
 
 
}
body{
    margin: 0;
    padding: 0;
}
.card{
    margin: 2px;
    background-color: black;

    border-radius: 9px;
   
}
 
img{
    height: 200px;

}
p{
    color: aliceblue;
}
.img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
